body {
  margin: 0;
  background-color: var(--colors-white);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Color palette for kasa */
  --colors-main: #FF6060;
  --colors-gray: #E5E5E5;
  --colors-white: #F6F6F6;
  --colors-black: rgb(21, 21, 21);
}