.Page404 {
    text-align: center;
    position: relative;
    top: -200px;
}

.Page404 > p {
    color: var(--colors-main);
}

.p404 {
    font-weight: 700;
    font-size: 288px;
    margin-bottom: 46px;
}

.Page404Text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 182px;
}

.Page404Link {
    font-family: "Montserrat";
    font-size: 18px;
    color: var(--colors-main);
    text-decoration: none !important;
}

.Page404Link > a {
    font-family: "Montserrat";
}

@media screen and (max-width: 426px) {
    .Page404 {
        text-align: center;
        position: initial;
        top: -200px;
        height: 60vh;
    }

    .p404 {
        font-size: 96px;
        margin-bottom: 11px;
    }

    .Page404Text {
        font-size: 18px;
    }
  }