.Page404 {
    text-align: center;
    position: relative;
    top: -200px;
}

.Page404 > p {
    color: var(--colors-main);
}

.p404 {
    font-weight: 700;
    font-size: 288px;
    margin-bottom: 46px;
}

.Page404Text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 182px;
}

.Page404Link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
}