.Room {
    padding: 40px 100px 0px 100px;
    margin-bottom: 100px;
}
  

.RoomTitle {
    font-weight: 500;
    font-size: 36px;
    color: var(--colors-main);
}

.RoomLocation {
    font-weight: 500;
    font-size: 18px;
    color: var(--colors-main);
    position: relative;
    top: -40px;
}

.RoomTagsList {
    display: flex;
}

.RoomTag {
    width: 100px;
}

.RoomCaroussel {
    margin-bottom: 40px;
}

.RoomInfos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.HostName {
    font-weight: 500;
    font-size: 18px;
    color: var(--colors-main);
    margin-right: 10px;
}

.HostPicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.HostDiv {
    display: flex;
    align-items: center;
    width: 100px;
    margin-right: 40px;
}

.RoomDropdownsDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.DropdownCard {
    width: calc(50% - 10px) !important;
}
@media screen and (max-width: 769px) {
    .Room {
      padding: 20px 30px 0px 30px;
    }

    .DropdownCard {
        width: 100% !important;
    }
  }
  
  @media screen and (max-width: 426px) {
    .Room {
      padding: 10px 15px 0px 15px;
    }

    .RoomLocation {
        font-size: 14px;
        top: 0px;
    }

    .DropdownCard {
        width: 100% !important;
    }
  }