.ThumbnailCard {
    display: 'flex';
    flex-direction: 'column';
    justify-content: space-between;
    background: rgb(255,96,96);
    background: linear-gradient(180deg, rgba(255,96,96,1) 0%, rgba(255,96,96,1) 55%, rgba(176,67,67,1) 100%);
    border-radius: 10px;
    width: 340px;
    height: 340px;
    margin: 10px;
    overflow: hidden;
}

.ThumbnailCard > img {
    height: 268px;
}

.ThumbnailCard > p {
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--colors-white); 
}

.ThumbnailCard:any-link{
    background-color: green;
}

@media screen and (max-width: 1025px) {
    .ThumbnailCard {
        width: 310px;
        height: 310px;
        margin: 10px;
    }

    .ThumbnailCard > img {
        height: 238px;
    }
 }

@media screen and (max-width: 769px) {
    .ThumbnailCard {
        width: 310px;
        height: 310px;
        margin: 10px;
    }

    .ThumbnailCard > img {
        height: 238px;
    }
 }
  
@media screen and (max-width: 426px) {
    .ThumbnailCard {
        width: 340px;
        height: 340px;
        margin: 10px;
    }
}

@media screen and (max-width: 376px) {
    .ThumbnailCard {
        width: 300px;
        height: 300px;
        margin: 10px;
    }

    .ThumbnailCard > img {
        height: 220px;
    }
}

@media screen and (max-width: 321px) {
    .ThumbnailCard {
        width: 240px;
        height: 240px;
        margin: 10px;
    }

    .ThumbnailCard > img {
        height: 168px;
    }
}


