.TagCard {
    background-color: var(--colors-main);
    text-align: center;
    border-radius: 10px;
    height: 20px;
    margin-right: 20px;
}

.TagText {
    color: var(--colors-white);
    margin: 0px;
    padding: 0px 40px;
    font-size: 14px;
}